.LsDisplayTaskbar {
  background-color: var(--noFocusBg);
  color: var(--mainTerminalTaskbarText);
  width: 100%;
  padding: 5px;
}

.LsDisplayWindow:hover > .LsDisplayTaskbar {
  background-color: var(--primaryText);
}

.LsDisplayWindow {
  background-color: var(--windowBg);
  width: 80vw;
  justify-content: flex-start;
  min-height: 60vh;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  h3 {
    padding: 10px;
    margin-bottom: 0px;
    display: inline-flex;
    flex-wrap: wrap;
    white-space: pre-wrap;
  }
}

.mappedItemsList {
  margin-left: 15px;
}

.projects-items {
  margin-left: 40px;
}

.infoItem {
  margin-left: 40px;
}
