:root {
  --radius: 6px;
}

.LsDisplayTaskbar {
  background-color: var(--windowBg);
  color: var(--secondaryText);
  width: 100%;
  padding: 3px;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  border-bottom: 1px solid var(--borderColor);
  text-align: center;
}

.LsDisplayWindow:focus-within > .LsDisplayTaskbar {
  background-color: var(--focusBg);
  border-bottom: 1px solid var(--primaryText);
}
.LsDisplayWindow {
  border: 1px solid var(--borderColor);
  background-color: var(--windowBg);
  width: 80vw;
  justify-content: flex-start;
  min-height: 60vh;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  padding-bottom: 3vh;
  border-radius: var(--radius);

  h3 {
    padding: 10px;
    margin-bottom: 0px;
    display: inline-flex;
    flex-wrap: wrap;
    white-space: pre-wrap;
  }
}

.mappedItemsList {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}

.projects-items {
  margin-left: 40px;
}

.infoItem {
  margin-left: 40px;
}

.miniProject {
  order: 2;
}

.miniProjects {
  order: 3;
}
@media (max-width: 1024px) {
  li {
    padding-block: 4px;
  }
}
