.wb-body {
  background-color: var(--windowBg) !important;
  padding: 1rem;
}

.mainContainer {
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.popupTerminaWindowContainer {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "header header header header"
    "image text text text"
    "linkIcons text text text";

  column-gap: 2vw;
  row-gap: 2vh;
}

.popupTerminalWindowImageContainer {
  display: grid;
  grid-area: image;
  place-items: center center;
  place-self: center center;
}
.popupTerminaWindowImage {
  width: 100%;
  height: auto;
  object-fit: contain !important;
  margin: auto;
}

.popupTerminaWindowHeader {
  grid-area: header;
}

.popupTerminaWindowTextContainer {
  grid-area: text;
}

.popupTerminalWindowFooter {
  grid-area: footer;
}

.techItemsList {
  display: inline-flex;
  list-style: none;
}

.techItemsList > li {
  padding-inline: 0.5rem;
}

.popupTerminalWindowLinkIcons {
  grid-area: linkIcons;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.popupTerminalWindowLinkIcon {
  color: var(--primaryText);
  transition: color 0.5s ease-in-out;
}

.popupTerminalWindowLinkIcon:hover {
  color: var(--linkText);
}

.popupTerminalWindowLinkIcon:active {
  position: relative;
  top: 2px;
}

.svgIcon {
  fill: var(--secondaryText);
  width: 2rem;
}

.popupWindowLinkButton {
  align-items: normal;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgb(0, 0, 238);
  border-style: none;
  box-sizing: content-box;
  color: var(--primaryText);
  cursor: pointer;
  display: inline;
  font: inherit;
  height: auto;
  padding: 0;
  perspective-origin: 0 0;
  text-align: start;
  text-decoration: none;
  transform-origin: 0 0;
  width: auto;
  -moz-appearance: none;
  -webkit-logical-height: 1em; /* Chrome ignores auto, so we have to use this hack to set the correct height  */
  -webkit-logical-width: auto; /* Chrome ignores auto, but here for completeness */
}

.popupWindowLinkButton:active {
  position: relative;
  top: 2px;
}

/* Mozilla uses a pseudo-element to show focus on buttons, */
/* but anchors are highlighted via the focus pseudo-class. */

@supports (-moz-appearance: none) {
  /* Mozilla-only */
  .popupWindowLinkButton::-moz-focus-inner {
    /* reset any predefined properties */
    border: none;
    padding: 0;
  }
  .popupWindowLinkButton:focus {
    /* add outline to focus pseudo-class */
    outline-style: dotted;
    outline-width: 1px;
  }
}

@media (max-width: 700px) {
  .popupTerminaWindowContainer {
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "header header header header"
      "image image image image"
      "linkIcons linkIcons linkIcons linkIcons"
      "text text text text";
  }

  .popupTerminaWindowImage {
    width: 100%;
  }

  .popupTerminalWindowImageContainer > * {
    width: 60%;
  }

  .popupTerminalWindowLinkIcons {
    justify-content: center;
    align-items: center;
  }
  .popupTerminalWindowLinkIcon {
    margin-inline: 2vw;
    transition: color 0.5s ease-in-out;
  }
}
