html,
body {
  background-color: #333;
}

.popupTerminaWindowContainer {
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "header header header header"
    "image text text text"
    "footer footer footer footer";
  column-gap: 5vw;
}

@media (max-width: 700px) {
  .popupTerminaWindowContainer {
    grid-template-areas:
      "header header header header"
      "image image image image"
      "text text text text"
      "footer footer footer footer";
  }
}

.popupTerminaWindowImage {
  display: grid;
  grid-area: image;
  max-height: 30vh;
  object-fit: contain !important;
  margin: auto;
}

.popupTerminaWindowHeader {
  grid-area: header;
}

.popupTerminaWindowText {
  grid-area: text;
}
